---
import Layout from '../layouts/Layout.astro';

---

<Layout title="GSI">
  <main>
    <style>
      iframe {
        width: 100%;
        height: 600px;
        border: none;
      }
    </style>
  
    <iframe 
      src="https://drive.google.com/embeddedfolderview?id=15dj3NPGoCdHXXHqamTiHXgvygIdg2HPp#list" 
      >
    </iframe>
    <h4>Operators checklist</h4>
    <iframe 
      src="https://drive.google.com/embeddedfolderview?id=16smXpbs8y7YnC9TodYBGu_Gvd4Qm7f_t#list">
    </iframe>
  </main>
</Layout>

